name: Unit tests

on:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]

jobs:
  build:
    name: Core Unit Tests
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: '22.x'

      - name: Enable Corepack
        run: corepack enable

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: install
        run: |
          yarn

      - name: build
        run: |
          yarn build

      - name: test
        run: |
          yarn test

      - name: lint
        run: |
          yarn lint

      - name: chromatic
        run: |
          yarn chromatic
